* {
	font-family: "Montserrat Light", sans-serif;
	text-align: left;
	text-justify: inter-word;
	box-sizing: border-box;
}

body {
	background-color: #232227;
}

.controls {
	margin-bottom: 1em;
}

.controls label {
	margin-right: 1em;
}

#map {
	height: 50vw;
	width: 60%;
	border: 4px solid #3f3f41;
	background-color: #232227;
	border-radius: 12px;
}

/*Main Homepage Heading*/
h1 {
	font-weight: 900;
	letter-spacing: 0.5vw;
	font-size: 4vw;
	text-align: center;
	color: aliceblue;
}

/*General Heading*/
h2 {
	font-weight: 900;
	letter-spacing: 0.25vw;
	font-size: 2vw;
	padding-top: 2vw;
	color: aliceblue;
}

h5 {
	font-family: "Montserrat Light", sans-serif;
	letter-spacing: 0.25vw;
	color: aliceblue;
}

label,
p,
a {
	font-size: 1.5vw;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 0.2vw;
	word-spacing: 0.2vw;
	color: aliceblue;
	text-decoration: none;
}

p {
	padding-bottom: 0%;
}

label {
	font-size: 1.25vw;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(28, 29, 29);
	margin: 0;
	z-index: 9999;
	padding-bottom: 0;
	margin-bottom: 0;
	top: 0%;
}

header {
	position: sticky;
	top: 0;
	z-index: 99999;
}

#person_img {
	width: 100%;
}

img {
	width: 1.75em;
	height: auto;
}

ul {
	list-style: none;
}

.nav_links,
a {
	color: rgb(65, 64, 64);
	text-decoration: none;
}

.nav_links {
	position: relative;
	z-index: 99999;
}

.nav_links li {
	list-style: none;
	display: inline-block;
	position: relative;
	margin: 2vw;
}

.nav_links li a {
	font-family: "Montserrat", sans-serif;
}

.nav_links li a.active {
	color: aliceblue;
}

.nav_links li a.disabled {
	color: rgb(66, 71, 76);
}

.nav_links li a:hover {
	color: rgb(133, 141, 147);
}

.nav_links.show {
	display: flex;
}

#buttonBox {
	position: sticky;
	background-color: rgb(28, 29, 29);
	padding: 2em;
	border-radius: 12px;
	top: 6em;
}
